//text
$clr-purple-text: rgb(118, 92, 245);



//background
$clr-background:rgb(82, 90, 153);
$clr-background2: rgb(13, 15, 48);
$clr-greyBackground: rgb(100, 109, 160);


//Hover 
$clr-hover-sidebar: rgb(15, 27, 37);
$clr-purple-hover:rgb(118, 92, 245);


$clr-black-1 : rgb(0,0,0);
$clr-gray-1: rgb(233, 233, 233);
$white: rgb(236, 241, 235);
$cller-green-dark:  rgb(0, 12, 78);
$clr-green-total: rgb(60, 255, 0);

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: hidden;
  z-index: -1;
}

.modaloverlay__showmodal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  transition: var(--transition);
  visibility: visible;
  z-index: 10;
}

.__container {
  background: rgb(255, 255, 255);
  border-radius: 2rem;
  width: 20vw;
  height: 20vh;
  display: flex;
  flex-direction: column;
  place-items: center;
  position: relative;
}

.close_modal_btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  cursor: pointer;
}


.fatura{
padding-top: 2rem;
display: flex;
flex-direction: column;
gap: 0.3rem;
}

.form {
  border: solid 1px;
  background-color: rgb(255, 255, 255);
  padding: 10px 25px;

  &__titulo {
    padding-top: 1rem;
    font-size: 1.4rem;
  }

  &__gastos {
    font-size: 1rem;
  }
  &__entrada{
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
  }

  &__botoes {
    padding-top: 1.5rem;
    display: flex;
    &__salvar {
      width: 10rem;
      height: 3rem;
      font-size: 1.2rem;
      color: rgb(255, 255, 255);
      background-color: rgb(43, 155, 39);
      border: none;
      cursor: pointer;
    }
  }
  &__opcoes{
    padding-top: 1rem;
    display: flex;
    gap: 4rem;
    &__label{
      padding-left: 0.5rem;
    }
  }
}
