$clr-black-1 : rgb(0,0,0);
$clr-gray-1: rgb(233, 233, 233);
$clr-green-light: rgb(48, 184, 70);
$cller-green-dark:  rgb(18, 78, 0);
$clr-hover-sidebar: rgb(140, 247, 163);
$clr-green-total: rgb(60, 255, 0);
$clr-background2: rgb(40, 73, 55);